# Byte-compiled / cached
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Environment variables
.env

# Dependencies
*.egg-info/
pip-log.txt
pip-delete-this-directory.txt

# Logs and databases
*.log
*.sqlite3

# IDE / Editor
.vscode/
.idea/

# Python package files
dist/
build/
*.egg

# Ignore local JSON files (if not needed in repo)
books.json
